{{page-title "MultipleRedirects"}}
{{outlet}}
<AuModalContainer />
<AuModal @modalOpen={{true}} @closable={{false}}>
  <:title>Open with:</:title>
  <:body>
    {{#each @model as |redirect|}}
      <p>
        Redirect URL:
        <AuLinkExternal href={{redirect}}>{{redirect}}</AuLinkExternal>
      </p>
    {{/each}}
  </:body>
  <:footer>
  </:footer>

</AuModal>